@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor0: #dafdba;
  --cor0a: #dafdba7c;
  --cor1: #9aeba3;
  --cor2: #45c4b0;
  --cor3: #13678a;
  --cor3a: #13668a7c;
  --cor4: #012030;
  --cor4a: #0120307c;
  --font-headings: "Roboto Mono", monospace;
  --font-default: "Roboto", sans-serif;
}

html,
body {
  font-family: var(--font-default);
  max-width: 320px;
  background-image: linear-gradient(to top, var(--cor3), var(--cor0));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header {
  background-color: var(--cor4);
  color: whitesmoke;
}

nav,
footer {
  position: sticky;
  background-color: var(--cor4);
  color: whitesmoke;
}

nav {
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

a:any-link {
  color: whitesmoke;
  text-decoration: none;
  background-color: var(--cor3);
}

main {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

main section {
  flex-grow: 1;
}

main aside {
  background-color: var(--cor4);
  color: whitesmoke;
}
